body{
    background-color: rgb(231, 231, 231) !important;
    color: rgb(0, 0, 0) !important;
    font-family: monospacec !important;
}

.question_card{
    background-color: rgb(255, 242, 214);
    border-radius: 10px;
}
.alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color:#fff;
    margin-bottom:10px;
    display:none;
  }
